html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #edf3fc;
    font-family: "Assistant", sans-serif;
}

//Media width
@media (max-width: 400px) {
    .img-home {
        .img-people {
            width: 100% !important;
            height: auto !important;
        }
    }
}
@media (max-width: 576px) {
    .img-home {
        left: 20px !important;
        max-width: 100vh !important;
        display: block !important;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        img {
            left: -2000px !important;
        }
    }
    .img-home {
        height: auto !important;
        margin-bottom: 20px !important;
        .img-people {
            max-width: 40vh !important;
        }
    }
    .section-smartrt {
        h1 {
            margin: 20px 0px !important;
        }
    }
}

@media (min-width: 768px) {
    .img-home {
        position: relative !important;
        top: -200px !important;
        left: 370px !important;
    }
}
@media (min-width: 992px) {
    .img-home {
        position: relative !important;
        top: 50px !important;
        left: -20px !important;
        .img-people {
            max-width: 60vh !important;
        }
    }
    .section-smartrt {
        h1 {
            margin-top: 100px !important;
        }
    }
}
//Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}
.btn-navbar-right {
    margin-right: -10px !important;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
    height: 40px;
}
.btn-login {
    background-color: #3c80bd;
    color: #fff;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    border-radius: 4px;

    .btn-login:hover {
        background-color: #3c80bd;
        color: #fff;
    }
}

//Header
.text-center {
    h1 {
        margin-top: 90px !important;
        font-family: "Montserrat", sans-serif;
        color: #707070;
    }
    p {
        font-family: "Assistant", sans-serif;
        font-weight: lighter;
    }
    .btn-get-started {
        background-color: #3c80bd;
        color: #fff;
    }
}

//search
.travel {
    margin-top: 100px !important;
}
.active-cyan-4 input[type="text"]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type="text"] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background: #fff;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;

            .travel-country {
                font-size: 18px;
                color: #fff;
            }

            .travel-location {
                font-size: 26px;
                color: #fff;
            }

            .travel-button {
                .btn-travel-details {
                    background-color: #3c80bd;
                    color: #fff;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

//details Page
.section-details-content {
    margin-top: 10px !important;
    min-height: 100vh;
    .row-wisata {
        margin-top: 20px !important;
    }
    .card-details {
        margin-left: 10px;
        padding: 30px;
        border-radius: 11px;
        .trip-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #3c80bd;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }
        }
        .gallery {
            width: 100% !important;
            .xzoom-container {
                display: block;
                .xzoom {
                    width: 100% !important;
                    box-shadow: none;
                    margin-bottom: 10px;
                }
                .xactive {
                    border: 2px solid black;
                    box-shadow: none;
                }
            }
        }
    }
    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }
    .join-container {
        margin-top: -16px;
        margin-left: 10px !important;
    }

    .btn-join-now {
        background-color: #3c80bd;
        color: #fff;
        border-radius: 0;

        &:hover {
            color: #fff;
        }
    }
    .btn-add-now {
        background-color: #3c80bd;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .input-group-text {
        background-color: transparent;
    }

    h3 {
        font-weight: 400;
        font-size: 14px;
        color: #071c4d;
    }

    .gj-datepicker {
        .input-group-append {
            .btn {
                padding: 0px;
                border-left: #fff;
                background-color: #fff;
                img {
                    width: 30px;
                    height: auto;
                    right: 1000px;
                }
            }
        }
    }
}

.btn-home-page {
    background-color: #3c80bd;
    color: #fff;

    &:hover {
        background-color: #3c80bd;
    }
}
